body {
  width: 1200px;
	margin: auto;
	padding: 10px;
	background-color: #ebf5fb;
}

#wrapper {
  background-color: #FFF;
  padding: 5px;
}

h1 {
	font-size: 40pt;
	text-shadow: 4px 4px #ca6f1e;
	color: #f8c471;
	font-family: sans-serif;
	margin-bottom: 0;
  margin-top: 0;
	padding-bottom: 0;
}

input#to, input#from {
	width: 40%;
}
select, input {
	border: 2px solid #ca6f1e;
	border-radius: 4px;
	background-color: #f8c471;
}
button#submit {
	border: 4px solid #ca6f1e;
	border-radius: 4px;
	background-color: #ca6f1e;
	color: white;
	width: 100%;
}
button#submit:hover {
	border: 4px solid #ca6f1e;
	border-radius: 4px;
	background-color: #f8c471;
	width: 100%;
}
